extends ./layout/resume-layout.jade
include ./mixins/util.jade

block education
  +section("education", "教育经历", "Education", true)
    each item in education
      .timeline-item(class="education-" + item.type)
        h4
          span.education-time #{item.start} ~ #{item.end}
        .education-name
          = item.name
        ul.education-description

          li.education-major= item.major + education_type[item.type]
          each honor in item.honor
            li.education-honor!= highlight(honor)


block language
  +section("language", "语言水平", "Language", false)
    each lang in language
      each cert in lang.certificate
        +certificate(cert)
      ul.language-description
        each desc in lang.description
          li= desc


block experience
  +section("experience", "项目与工作经验", "Experience", true)
    each item in experience
      .timeline-item(class="experience-" + item.type)
        h4
          span.experience-place= item.place
          span.experience-time #{item.start} ~ #{item.end}
        .experience-name
          = item.name
        ul.experience-description
          each desc in item.description
            li!= highlight(desc)

block skills
  +section("skills", "技能", "Skills", true)
    each item in skills
      .timeline-item(class="skills-" + item.type)
        h4
          span.skills-type= skill_type[item.type]
        +#{"skills_" + item.type}(item)


block links
    ul.links
      each link in links
        li.link
          a(href=link.url)= link_type[link.type]

block repo
  #[a(href=repo) This resume] is created with gulp, less and jade.
