extends ./resume-layout.jade
include ./mixins/util.jade

- var education_type = {"undergraduate": "（本科）"}

block education
  +section("education", "教育经历", "Education", true)
    each item in education
      h4(class="timeline-education-" + item.type)
        span.timeline-education-time #{item.start} ~ #{item.end}
      .education-name
        = item.name
      ul.education-description
        li.education-major= item.major + education_type[item.type]
        each honor in item.honor
          li.education-honor!= highlight(honor)


block language
  +section("language", "语言水平", "Language", false)
    each lang in language
      each cert in lang.certificate
        +certificate(cert)
      ul.language-description
        each desc in lang.description
          li= desc


block experience
  +section("experience", "项目与工作经验", "Experience", true)
    each item in experience
      h4(class="timeline-experience-" + item.type)
        span.timeline-experience-place= item.place
        span.timeline-experience-time #{item.start} ~ #{item.end}
      .experience-name
        = item.name
      ul.experience-description
        each desc in item.description
          li!= highlight(desc)

block skills



block links
  footer
    ul.links
      each link in links
        li
          a.link(href=link.url) link.type

block repo
  #[a(href=repo) This resume] is created with gulp, less and jade.
